.box1 {
    height: 200px;
    width: 200px;
    border: solid 2px black;
    animation-name: GrowBox1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 10px;
}

@keyframes GrowBox1 {
    from {
        width: 200px;
    }
    to {
        width: 400px;
    }
}

.box2 {
    height: 200px;
    width: 200px;
    border: solid 2px black;
    animation-name: GrowBox2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 10px;
}

@keyframes GrowBox2 {

    to {
        border-radius: 50%;
    }
}

.box3 {
    height: 200px;
    width: 200px;
    border: solid 2px black;
    animation-name: GrowBox3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 10px;
}

@keyframes GrowBox3 {

    to {
        border-radius: 20%;
        width: 300px;
        background-color: darkturquoise;
        border: darkturquoise;
    }
}

.box4 {
    height: 200px;
    width: 200px;
    animation-name: GrowBox4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 10px;
    background-color: black;
}

@keyframes GrowBox4 {

    to {
        border-radius: 20%;
        width: 250px;
        opacity: 50%;
    }
}