body {
    display: flex;
    justify-content: center;
}

.container1 {
    display: grid;
    height: 300px;
    width: 600px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    "header header"
    "img main";
}

.container2 {
    display: grid;
    height: 300px;
    width: 600px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 20% 30% 20%;
    grid-template-areas:
    "img img img"
    "main main main"
    "img1 img1 img1"
    "main1 main1 main1";
}

.container3 {
    display: grid;
    height: 300px;
    width: 600px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas:
    "main main main main";
}
.header {
    grid-area: header;
}

.img {
    grid-area: img;
}

.main {
    grid-area: main;
    padding: 10px;
}
.img1 {
    grid-area: img1;
}

.main1 {
    grid-area: main1;
    padding: 10px;
}

.logo {
    height: 50px;
    width: 60px;
}

.img1 {

}

.d_flex {
    display: flex;
}

.space_btw {
    justify-content: space-between;
}

.space_around {
    justify-content: space-around;
}

.justify_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}
.text_center {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.grow1 {
    flex: 1;
}

h4 {
    margin: 0;
    padding: 0;
}

main > p {
    text-align: center;
}

.column{
    flex-direction: column;
}

.icon {
    width: 20px;
    height: 20px;
}

.margin10top {
    margin-top: 10px;
}