.conteiner {
   display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    margin: 10px;

}

.box {
    width: 100px;
    height: 100px;
    background-color: #bdff01;
    margin: 10px;
    transition: 2s;
}

.box:hover {
    border-radius: 50%;
    background: rgb(182,22,171);
    background: radial-gradient(circle, rgba(182,22,171,1) 18%, rgba(126,123,15,1) 33%);

}


.flex {
    display: flex;
}