
/*2021 09 28 (27)*/

/*div {*/
/*    background-color: darkseagreen;*/
/*}*/

/*.height_width {*/
/*    !*width: 1200px;*!*/
/*    height: 100px;*/
/*    margin-bottom: 4px;*/
/*}*/

/*.second {*/
/*    width: 200px;*/
/*    height: 800px;*/
/*    display: inline-block;*/
/*}*/

/*.third {*/
/*    width: 1000px; !*jei plocio nenustattai, per visa eil buna*!*!*/
/*    height: 800px;*/
/*    display: inline-block;*/
/*    background-color: transparent;*/
/*}*/

/*.article1 {*/
/*    !*width: 980px;*!*/
/*    height: 380px;*/
/*    margin: 10px;*/
/*    text-align: center;*/
/*}*/

/*.article2 {*/
/*    !*width: 980px;*!*/
/*    height: 380px;*/
/*    margin: 10px;*/
/*    text-align: center;*/
/*}*/

/*.inline {*/
/*    width: 420px;*/
/*    height: 330px;*/
/*    margin: 10px;*/
/*    display: inline-block;*/
/*    background-color: transparent;*/
/*    text-align: center;*/
/*}*/
/*.img {*/
/*    width: 330px;*/
/*    height: 350px;*/
/*    margin-top: 10px;*/
/*}*/

/*.link {*/
/*    text-align: center;*/
/*    margin: 20px;*/
/*    padding: 10px;*/

/*}*/

/*.img1 {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    border-radius: 20px;*/
/*    display: block;*/
/*    margin-top: 400px;*/
/*}*/

/*.element {*/
/*    height: 800px;*/
/*    display: inline-block;*/
/*    background-color: transparent;*/
/*}*/

/*.img_e {*/
/*    height: 700px;*/
/*    width: 400px ;*/
/*    padding: 60px;*/
/*    display: inline-block;*/
/*    border-style: solid;*/
/*    border-color: black;*/
/*    background-color: bisque;*/
/*}*/

/*.size {*/
/*    height: 300px ;*/
/*    width: 300px;*/
/*    border-radius: 50%;*/
/*    margin: 20px;*/
/*    display: block;*/
/*}*/

/*.size2 {*/
/*    height: 350px ;*/
/*    width: 300px;*/
/*    display: block;*/
/*}*/

/*pirma uzd*/
/*div {*/
/*    height: 800px;*/
/*    background-color: lightgrey;*/
/*    padding: 40px;*/
/*}*/
/*.user1 {*/
/*        width: 420px;*/
/*        height: 530px;*/
/*        margin: 10px;*/
/*        display: inline-block;*/
/*        text-align: center;*/
/*    background: rgb(65,9,61);*/
/*    background: radial-gradient(circle, rgba(65,9,61,1) 0%, rgba(0,212,255,1) 100%);*/
/*    border: solid black;*/
/*    box-shadow: 5px 10px;*/
/*    border-radius: 10px;*/

/*    transition: transform .2s; !* Animation *!*/
/*}*/

/*.user1:hover {*/
/*    transform: scale(1.1); !* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) *!*/
/*}*/

/*.img1 {*/
/*    margin-top: 20px;*/
/*    border-radius: 50%;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*}*/

/*.h1 {*/
/*    color: antiquewhite;*/
/*}*/

/*.link1 {*/
/*    display: block;*/
/*    margin-bottom: 30px;*/
/*    color:white;*/
/*}*/

/*.cursor1 {*/
/*    cursor: wait;*/
/*    background-color: antiquewhite;*/
/*}*/

/*.user2 {*/
/*    width: 420px;*/
/*    height: 530px;*/
/*    margin: 10px;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    background: rgb(65,9,61);*/
/*    background: linear-gradient(90deg, rgba(65,9,61,1) 13%, rgba(0,212,255,0.5270483193277311) 74%);*/
/*    border: 5px darkslategray solid;*/
/*    box-shadow: 10px 10px 8px #888888;*/
/*    transition: transform .2s; !* Animation *!*/
/*}*/

/*.user2:hover {*/
/*    transform: scale(1.1); !* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) *!*/
/*}*/

/*.img2 {*/
/*    margin-top: 20px;*/
/*    border-radius: 30%;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*}*/

/*.h2 {*/
/*    color: ghostwhite;*/
/*}*/

/*.link2 {*/
/*    display: block;*/
/*    margin-bottom: 30px;*/
/*    color: black;*/
/*}*/

/*.cursor2 {*/
/*    cursor: grab;*/
/*    background-color: antiquewhite;*/
/*}*/

/*.user3 {*/
/*    width: 420px;*/
/*    height: 530px;*/
/*    margin: 10px;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    background: rgb(65,9,61);*/
/*    background: radial-gradient(circle, rgba(65,9,61,1) 0%, rgba(0,212,255,0.5270483193277311) 100%);*/
/*    border: double black;*/
/*    box-shadow: 14px 18px 33px 6px rgba(0,0,0,0.83);*/
/*    border-radius: 20px;*/
/*    transition: transform .2s; !* Animation *!*/
/*}*/

/*.user3:hover {*/
/*    transform: scale(1.1); !* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) *!*/
/*}*/

/*.img3 {*/
/*    margin-top: 20px;*/
/*    border-radius: 5px;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*}*/

/*.h3 {*/
/*    color: darkgrey;*/
/*}*/

/*.link3 {*/
/*    display: block;*/
/*    margin-bottom: 30px;*/
/*    color: darkgrey;*/
/*}*/

/*.cursor3 {*/
/*    cursor: zoom-in;*/
/*    background-color: antiquewhite;*/
/*}*/

/*a.link1:hover {*/
/*    background-color: #888888;*/
/*}*/

/*a.link2:hover {*/
/*    background-color: darkslategray;*/
/*}*/

/*a.link3:hover {*/
/*    background-color: black;*/
/*}*/

/*antra uzd*/
/*.first {*/
/*    width: 100px;*/
/*    height: 150px;*/
/*    border: solid black;*/
/*    transition-duration: 2s;*/
/*}*/

/*.first:hover {*/
/*    width: 200px;*/
/*}*/

/*.second {*/
/*    width: 100px;*/
/*    height: 150px;*/
/*    border: solid black;*/
/*    transition: 2s;*/
/*}*/

/*.second:hover {*/
/*  border-radius: 50%;*/
/*}*/

/*.third {*/
/*    width: 100px;*/
/*    height: 150px;*/
/*    border: solid black;*/
/*    transition: 2s;*/
/*}*/

/*.third:hover {*/
/*        opacity: 0.2;*/
/*}*/

/*.fourth {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border: solid black;*/
/*    background-color: darkslategray;*/
/*    transition: 4s;*/
/*}*/

/*.fourth:hover {*/
/*    transform: rotate(45deg);*/
/*}*/

/*.fifth {*/
/*    width: 100px;*/
/*    height: 150px;*/
/*    border: solid black;*/
/*}*/

/*.fifth:hover {*/
/*    transform:scale(1.5);*/
/*}*/

/*.text1{*/
/*    font-size: 15px;*/
/*    font-style: italic;*/
/*}*/
/*.text1:hover {*/
/*    color: red;*/
/*}*/

/*.text2:hover {*/
/*    font-size: 40px;*/
/*}*/

/*kvadratu uzduotis*/

/*.box1 {*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    border: solid black;*/
/*    box-shadow:  14px 10px darkgrey;*/
/*    padding: 20px;*/
/*}*/

/*.box2 {*/
/*    height: 190px;*/
/*    width: 90px;*/
/*    background-color: yellow;*/
/*    display: inline-block;*/
/*    margin-right: 10px;*/
/*    transition: 2s;*/
/*}*/

/*.box3 {*/
/*    height: 190px;*/
/*    width: 90px;*/
/*    background-color: greenyellow;*/
/*    display: inline-block;*/
/*    transition: 2s;*/
/*}*/

/*.box1:hover {*/
/*    box-shadow: none;*/
/*    border: solid grey;*/
/*    background-color: grey;*/
/*}*/

/*.box2:hover {*/
/*    background-color: greenyellow;*/
/*    height: 100px;*/
/*}*/

/*.box3:hover {*/
/*    background-color: yellow;*/
/*    height: 100px;*/
/*}*/

/*!*2021 09 30*!*/
/*!*Pirma uzd*!*/

/*.conteiner {*/
/*    display: flex;*/
/*}*/

/*.box {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: yellow;*/
/*    margin: 10px;*/
/*}*/

/*.conteiner1 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.box1 {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #c0ff23;*/
/*    margin: 10px;*/
/*}*/

/*.conteiner2 {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.box2 {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #36ff2d;*/
/*    margin: 10px;*/
/*}*/

/*.flex {*/
/*    display: flex;*/
/*}*/

/*antra uzd*/

/*.conteiner {*/
/*   display: flex;*/
/*    justify-content: space-between;*/
/*    background-color: lightgrey;*/
/*    margin: 10px;*/

/*}*/

/*.box {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #bdff01;*/
/*    margin: 10px;*/
/*    transition: 2s;*/
/*}*/

/*.box:hover {*/
/*    border-radius: 50%;*/
/*    background: rgb(182,22,171);*/
/*    background: radial-gradient(circle, rgba(182,22,171,1) 18%, rgba(126,123,15,1) 33%);*/

/*}*/


/*.flex {*/
/*    display: flex;*/
/*}*/

/*!*trecia uzd*!*/

/*.conteiner {*/
/*   display: flex;*/
/*    background-color: lightgrey;*/
/*    margin: 10px;*/

/*}*/

/*.box {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #bdff01;*/
/*    margin: 10px;*/
/*}*/

/*.box1 {*/
/*    width: 50px;*/
/*    height: 80px;*/
/*    background-color: yellow;*/
/*    margin: 10px;*/
/*}*/

/*.flex {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.flex_right {*/
/*    display: flex;*/
/*    justify-content: right;*/
/*}*/

/*.box2 {*/
/*    width: 300px;*/
/*    height: 200px;*/
/*    background-color: yellow;*/
/*    margin: 10px;*/
/*}*/

/*.box3 {*/
/*    width: 20px;*/
/*    height: 180px;*/
/*    background-color: #bdff01;*/
/*    margin: 10px;*/
/*}*/

/*.flex_space {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.flex_just {*/
/*    display: flex;*/
/*}*/

/*.flex_e {*/
/*    justify-content: space-evenly;*/
/*    display: flex;*/

/*}*/

/*trecia uzduotis*/

/*.conteiner {*/
/*    background-color: lightgrey;*/
/*    height: 50px;*/
/*    padding: 50px;*/
/*    border: solid black;*/
/*}*/

/*.box {*/
/*    background-color: darkslategray;*/
/*    height: 50px;*/
/*    width: 200px;*/
/*    border: solid black;*/
/*}*/

/*.flex {*/
/*    display: flex;*/
/*}*/

/*.space_around {*/
/*    justify-content: space-around;*/
/*}*/

/*.center {*/
/*    justify-content: center;*/
/*}*/

/*.conteiner1 {*/
/*    height: 600px;*/
/*    width: 300px;*/
/*    background-color: lightgrey;*/
/*    border: solid black;*/

/*}*/

/*.column {*/
/*    flex-direction: column;*/
/*}*/

/*.space_btw {*/
/*    justify-content: space-between;*/
/*}*/

/*.space_ev {*/
/*    justify-content: space-evenly  ;*/
/*}*/

/*.conteiner2 {*/
/*    height: 600px;*/
/*    width: 1048px;*/
/*    background-color: lightgrey;*/
/*    border: solid black;*/
/*}*/

/*.box1 {*/
/*    background-color: darkslategray;*/
/*    height: 200px;*/
/*    width: 150px;*/
/*}*/

/*.box2 {*/
/*    border: solid 5px black;*/
/*    height: 200px;*/
/*    width: 800px;*/
/*    padding: 10px;*/
/*}*/

/*.right {*/
/*    justify-content: right;*/
/*}*/


/*!*2021 10 01*!*/

/*.conteiner {*/
/*    background-color: lightgrey;*/
/*    height: 50px;*/
/*    padding: 50px;*/
/*    border: solid black;*/
/*}*/

/*.box {*/
/*    background-color: darkslategray;*/
/*    height: 50px;*/
/*    width: 200px;*/
/*    border: solid black;*/
/*}*/

/*.flex {*/
/*    display: flex;*/
/*}*/

/*.space_around {*/
/*    justify-content: space-around;*/
/*}*/

/*.center {*/
/*    justify-content: center;*/
/*}*/

/*.conteiner1 {*/
/*    height: 600px;*/
/*    width: 300px;*/
/*    background-color: lightgrey;*/
/*    border: solid black;*/

/*}*/

/*.column {*/
/*    flex-direction: column;*/
/*}*/

/*.space_btw {*/
/*    justify-content: space-between;*/
/*}*/

/*.space_ev {*/
/*    justify-content: space-evenly  ;*/
/*}*/

/*.conteiner2 {*/
/*    height: 600px;*/
/*    width: 1348px;*/
/*    background-color: lightgrey;*/
/*    border: solid black;*/
/*}*/

/*.box1 {*/
/*    height: 200px;*/
/*    width: 150px;*/
/*}*/

/*.box2 {*/
/*    height: 200px;*/
/*    width: 800px;*/
/*    padding: 10px;*/
/*}*/

/*.right {*/
/*    justify-content: right;*/
/*}*/

/*.align_center {*/
/*    align-items: center;*/
/*}*/

/*.color {*/
/*    color: white;*/
/*    font-weight: bold;*/
/*}*/

/*.size {*/
/*    height: 100px;*/
/*    width: 150px;*/
/*}*/

/*.text {*/
/*    font-size: 15px;*/
/*    font-family: Arial, serif ;*/

/*}*/

/*.color:hover {*/
/*    color: black;*/
/*    cursor: grab;*/
/*}*/

/*.border {*/
/*    border: solid black 3px;*/
/*}*/

/*.bigger {*/

/*}*/

/*.bigger:hover {*/
/*     transform: scale(1.5);*/
/*}*/

/*.grow1 {*/
/*    flex-grow: 0.1;*/
/*}*/

/*.grow2 {*/
/*    flex-grow: 0.3;*/
/*}*/

/*antra uzd*/

.box1 {
    height: 50px;
    width: 780px;
    background-color: lightgrey;
    padding: 0 10px 0 10px;
}

.img_size {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.flex {
    display: flex;
}

.button {
    height: 20px;
    background-color: white;
}

.space_btw {
    justify-content: space-between;
}

.size1 {
    width: 200px;
}

.box2 {
    height: 400px;
    width: 800px;
}

.image_back {
    background-image: url("https://addons-media.operacdn.com/media/CACHE/images/themes/45/91045/1.0-rev2/images/4839c0dc-5698-4030-b916-8583734cff9c/34c77a6fe82f53a8c612a1ff6f44e3fc.jpg") ;
    background-size: cover;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}


.box3 {
    height: 300px;
    width: 780px;
    background-color: lightgrey;
    padding: 10px;
}

.img_size2 {
    height: 200px;
    width: 200px;
}

.space_around {
    justify-content: space-around;
}

p {
    text-align: center;
    font-family: "Comic Sans MS", serif;
}

.text {
    font-family: "Comic Sans MS", serif;
}

.box4 {
    height: 200px;
    width: 800px;
    background-color: lightgrey;
}

.img_size3 {
    height: 150px;
    width: 150px;
}

.column {
    flex-direction: column;
}